.item-card2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    border: 0px solid #ddd;
    border-radius: 0px;
    margin: 12px;
    max-width: 1200px;
}

.img-item-container2 {
    margin-left: 250px;
    width: 100px;
}
.img-item-container2 {
    margin-left: 250px;
    width: 100px;
}
.item-content2 {
    display: flex;
    flex-direction: column;
}

.item-name2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item-description2 {
  font-size: 0.8rem;
  color: #555;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 300px;
  word-wrap: break-word;
  text-align: justify;
}

.item-price2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #5dade2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}